/*
h1 {

    color: red;
    background-color: yellow;
    text-align: center;
    border: 10px black solid;
    margin-bottom: 100px;

    padding-top: 20px;
    padding-bottom: 20px;

}
*/



h1 {
    color: red;
}

/* can tag the same style multiple times - they stack, and the second overwrites the first*/

.title {
    background-color: gray;
}

.title {
    color: blue;
}

/* can tag multiple id to have same style*/

#important, #hello {
    color: yellow;
}

